<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>C_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--
  	1.servlet是与浏览器通信的桥梁
  	网页一提交便会提交给服务器中该网页一开头写的action，也就是提交了一个URL资源，然后servlet-mapping
  	中的url-pattern会根据给的action找到servlet-name，然后通过servlet-name找到处理信息的相应类，类
  	会根据网页一开头的method调用相应的方法
  	2.servlet与servlet-mapping中的servlet-name必须相同.他们是属于映射关系。
  	他们是成对出现的，有servlet一定有servlet-mapping，一个servlet可以对应多个servlet-mapping
   -->
   
   <servlet>
  	<servlet-name>addStu</servlet-name>
  	<servlet-class>com.Web_2.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addStu</servlet-name>
  	<url-pattern>/addStu.do</url-pattern><!-- 必须以/开头，因为这是一个路径 -->
  </servlet-mapping>
   
   
   <servlet>
  	<servlet-name>deleteStu</servlet-name>
  	<servlet-class>com.Web_2.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteStu</servlet-name>
  	<url-pattern>/deleteStu.do</url-pattern><!-- 必须以/开头，因为这是一个路径 -->
  </servlet-mapping>
 
  
  <servlet>
  	<servlet-name>updateStu</servlet-name>
  	<servlet-class>com.Web_2.AltSerclet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateStu</servlet-name>
  	<url-pattern>/updateStu.do</url-pattern><!-- 必须以/开头，因为这是一个路径 -->
  </servlet-mapping>
   
   
  <servlet>
  	<servlet-name>saveInfo</servlet-name>
  	<servlet-class>com.Web.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>saveInfo</servlet-name>
  	<url-pattern>/saveInfo.do</url-pattern><!-- 必须以/开头，因为这是一个路径 -->
  </servlet-mapping>
</web-app>